@page
@model OpenAIWebApp.Pages.FineTuning.IndexModel
@{
    ViewData["Title"] = "FineTuning - First 10 jobs";
}

<h1>FineTuning - First 10 jobs</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Jobs[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jobs[0].Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jobs[0].Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Jobs)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    👍🏻
                </td>
            </tr>
        }
    </tbody>
</table>
